{% load staticfiles %}

<!DOCTYPE html>
<html lang="">
  <head>
    <title>Novinarski čivk</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'tweet/style.css' %}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
    <script type="text/javascript" src="{% static 'tweet/d3.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'tweet/cloud.js' %}" ></script>
    <script type="text/javascript" src="{% static 'tweet/d3.layout.cloud.js' %}" ></script>
    <script type="text/javascript" src="{% static 'tweet/plotly-latest.min.js' %}"></script>
  </head>
